body{
    background-color: grey;
    color: #999;
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
}

h1{
    color: #627d81;
    font-size: 50px;
}
/*h2 title and bullets color*/
/* array icon and paragraf display in one line*/

h2, li{
    color: #fc9b0a;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

/* li paragraf color different from bullet
minimize spaces above and under paragraf lines in unordered lists*/

p{
    color: #999;
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    background-color: #ffffff;
    min-height: 100vh;   /*full screen height*/
    padding: 30px;
}

/*change link color*/

a{
    color:#627d81;
}
